
<nav id="footerheader" class="level is-hidden-mobile is-uppercase has-text-weight-bold" >
    <p class="level-item has-text-centered">
      <a class=" has-text-white">Nosotros</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="has-text-white">Busco empleo</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="has-text-white">contacto</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="has-text-white">Videos</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="has-text-white">preguntas frecuentes</a>
      </p>
      <p class="level-item has-text-centered">
        <a class="has-text-white">opiniones</a>
      </p>
  </nav>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>