
<nav id="headercontainer" class="navbar" role="navigation" aria-label="main navigation">
  <div id="header" class="navbar-brand">
    <a  href="/">
      <img src="./assets/images/logo.jpg">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu ">
    <div class="navbar-start">
<p class="navbar-item">Confía en los expertos</p>

      <p class="navbar-item">
        Lunes a Domingo  
      </p>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
          comunicate al:
          <p class="is-size-4-desktop">55 7503-3095 o 7154-1782
        </p>
      </div>
      <div class="navbar-item">
          <button class="button is-primary is-rounded">WhatsApp</button>
        </div>
    </div>
  </div>
</nav>
<nav class="navbar is-transparent is-uppercase justify-content-center" style="position: sticky; top: 0;" role="navigation" aria-label="main navigation">
    <div  class="navbar-brand py-0">
      <a class="navbar-item is-hidden-desktop" href="https://bulma.io">
        <img id="logo" src="https://secureservercdn.net/45.40.144.200/k2z.d2b.myftpupload.com/wp-content/uploads/2018/09/Limpieza-en-tu-hogar-logo.png">
      </a>
  
      <a id="menu" (click)="toggleMenu()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div id="navbarlimpieza" class="navbar-menu has-text-weight-bold ">
      <div id="menu-items" class="navbar-start" style="width: 100%;">
        <a class="navbar-item my-4" >
          Inicio
        </a>
  
        <a class="navbar-item">
          Tienda
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Servicios
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Limpieza profunda
            </a>
            <a class="navbar-item">
              Limpieza mudanza
            </a>
            <a class="navbar-item">
              Plomería
            </a>
            
          </div>
        </div>
        <a class="navbar-item">
            Contrata
          </a>
      </div>
  
    </div>
  </nav>
