#headercontainer{
    border-bottom: 3px solid #00C4A7;
}

#header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

#header{
    align-items: center;
}

#logo{
    width: 150px;
    height: 80px;
    padding: 0;
}

#menu-items a{
    margin-right: 40px;
}

.navbar-start {
    justify-content: center;
    margin-right: auto;
}